div.container {
    position: relative;
    padding: 20px;
    .big-overlay {
        position: absolute;
        background-color: rgba(255, 218, 185, 0.612);
        top:0px;
        left:0px;
        bottom:0px;
        right:0px;
    }
    .btn-outline-info {
        position: absolute;
        background-color: #f09e23;
        border: solid 4px white;
        border-radius: 15px;
        color: white;
        top: 45%;
        left: 42%;
        width: 250px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 40px;
    }
    div.box {
        position: relative;
        div.overlay {
            position: absolute;
            top:0px;
            left:0px;
            bottom:0px;
            right:0px;
            background-image: url("../../images/cards_back.png");
            background-size: cover;
            border-radius: 15px;
        }
    }
    
}
